<a href="https://colab.research.google.com/github/taniyasinghsisodia/Deep-Learning-Projects/blob/master/Calulating_Relations_between_sentences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing the dependencies**

In [ ]:
%%capture
!pip3 install seaborn

In [ ]:
#@title Load the Universal Sentence Encoder's TF Hub module
from absl import logging

import tensorflow as tf

import tensorflow_hub as hub
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import seaborn as sns

module_url = "https://tfhub.dev/google/universal-sentence-encoder/4" #@param ["https://tfhub.dev/google/universal-sentence-encoder/4", "https://tfhub.dev/google/universal-sentence-encoder-large/5"]
model = hub.load(module_url)
print ("module %s loaded" % module_url)
def embed(input):
  return model(input)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

module https://tfhub.dev/google/universal-sentence-encoder/4 loaded

# **Loading Data From Kaggle**

In [5]:
!wget --header 'Host: storage.googleapis.com' --user-agent 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:80.0) Gecko/20100101 Firefox/80.0' --header 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8' --header 'Accept-Language: en-US,en;q=0.5' --referer 'https://www.kaggle.com/' --header 'DNT: 1' --header 'Upgrade-Insecure-Requests: 1' 'https://storage.googleapis.com/kagglesdsdata/datasets/1008/1818/test.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20200928%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20200928T141245Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=65aebf26f4f9d65891709b5ac602553e3e5f332d7ddbf2c5eb2de89c1dbfdb377cc9543c6189024f39ae40e3d0f11e47ec9a672c980826a6d2495b44406a097275b624e2414de8d902b08ab9d0381745bdac6990a38c81822d394bc10049f09a0b05d15b52a3bc8a01f3e68ec0b49a1ac507712d4aa8e93580a31a1b1d67298da12f380e623a213305d9ac7166dad42f839a9f75551d2ebb901fdc8611ebc60a95e4edbce32786cc51b86b314ad15301c8042c29ab76fa79f686ff04bd20f13b1697646a13b5910f2d6110a40b9a08cb4242a345c3f3f8ab44509115df65c3bfb19db039d7deb13a63ee13c9541c26c5a497e67700dc81e236d39d9e75434ee3' --output-document 'test.csv'

--2020-09-28 14:13:32--  https://storage.googleapis.com/kagglesdsdata/datasets/1008/1818/test.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20200928%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20200928T141245Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=65aebf26f4f9d65891709b5ac602553e3e5f332d7ddbf2c5eb2de89c1dbfdb377cc9543c6189024f39ae40e3d0f11e47ec9a672c980826a6d2495b44406a097275b624e2414de8d902b08ab9d0381745bdac6990a38c81822d394bc10049f09a0b05d15b52a3bc8a01f3e68ec0b49a1ac507712d4aa8e93580a31a1b1d67298da12f380e623a213305d9ac7166dad42f839a9f75551d2ebb901fdc8611ebc60a95e4edbce32786cc51b86b314ad15301c8042c29ab76fa79f686ff04bd20f13b1697646a13b5910f2d6110a40b9a08cb4242a345c3f3f8ab44509115df65c3bfb19db039d7deb13a63ee13c9541c26c5a497e67700dc81e236d39d9e75434ee3
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.133.128, 74.125.140.128, 173.194.76.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.133.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33965 (33K) [text/csv]
Saving to: ‘test.csv’

test.csv            100%[===================>]  33.17K  --.-KB/s    in 0s

2020-09-28 14:13:32 (95.7 MB/s) - ‘test.csv’ saved [33965/33965]

In [6]:
!unzip archive.zip

unzip:  cannot find or open archive.zip, archive.zip.zip or archive.zip.ZIP.

In [7]:
import pandas as pd
data=pd.read_csv('test.csv')

In [8]:
data.head()

   test_id  ... same_security
0        0  ...           NaN
1        1  ...           NaN
2        2  ...           NaN
3        3  ...           NaN
4        4  ...           NaN

[5 rows x 4 columns]

In [9]:
data.drop(["test_id","same_security"],axis=1,inplace=True)
data.head()

                        description_x                     description_y
0                        semtech corp               semtech corporation
1              vanguard mid cap index         vanguard midcap index - a
2         spdr gold trust gold shares  spdr gold trust spdr gold shares
3       vanguard total bond index adm  vanguard total bond market index
4  oakmark international fund class i        oakmark international cl i

# **FuzzyWuzzy Method**

In [10]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [11]:
import fuzzywuzzy
from fuzzywuzzy import fuzz

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [12]:
data['partial_ratio'] = data.apply(lambda x: fuzz.partial_ratio(x['description_x'], x['description_y']), axis=1)

In [13]:
data[:10]

                                       description_x  ... partial_ratio
0                                       semtech corp  ...           100
1                             vanguard mid cap index  ...            95
2                        spdr gold trust gold shares  ...            81
3                      vanguard total bond index adm  ...            76
4                 oakmark international fund class i  ...            85
5                              pfizer inc div: 1.200  ...            79
6              spartan global ex us index fid adv cl  ...            65
7                 vanguard total bond market idx-adm  ...            88
8  banco latinoamericano de exportacio class e co...  ...            86
9              baidu inc fadr 1 adr reps 0.1 ord shs  ...            73

[10 rows x 3 columns]

In [14]:
data.shape

(516, 3)

In [15]:
#Removing the description with scores <40 
indexNames = data[ data['partial_ratio'] < 60 ].index
# Delete these row indexes from dataFrame which is >40
data.drop(indexNames , inplace=True)

In [16]:
data.shape

(489, 3)

In [17]:
data[:30]

                                        description_x  ... partial_ratio
0                                        semtech corp  ...           100
1                              vanguard mid cap index  ...            95
2                         spdr gold trust gold shares  ...            81
3                       vanguard total bond index adm  ...            76
4                  oakmark international fund class i  ...            85
5                               pfizer inc div: 1.200  ...            79
6               spartan global ex us index fid adv cl  ...            65
7                  vanguard total bond market idx-adm  ...            88
8   banco latinoamericano de exportacio class e co...  ...            86
9               baidu inc fadr 1 adr reps 0.1 ord shs  ...            73
10                                 whole foods market  ...           100
11                   walgreens boots alliance inc com  ...           100
12                         diageo plc new gb spon adr  ...            72
13                       guggenheim bulletshares 2016  ...           100
14                       vanguard small-cap index adm  ...            89
15                                   emerging markets  ...            93
17                                      tegna inc com  ...           100
18                                    deere & company  ...            75
19                             vanguard mid-cap index  ...           100
20                     jpmorgan chase & co div: 1.760  ...           100
21        american funds europacific growth fund - r6  ...            70
22                 vanguard total bond market idx-adm  ...            60
23                     unitedhealth gp inc div: 2.000  ...            63
24         american intl group inc warrant 01/19/2021  ...            76
25                      fifth street finance corp com  ...            90
27                               metwest tot rtn bd m  ...            74
28                                   exelixis inc com  ...           100
29                            glenmede large cap gwth  ...            91
30                               af europac growth r6  ...            80
31                      dreamworks animation skg cl a  ...            93

[30 rows x 3 columns]

# **Universal Sentence Encoder**

In [18]:
import math
import scipy

In [20]:
def run_sts_benchmark(batch):
  sts_encode1 = tf.nn.l2_normalize(embed(tf.constant(batch['description_x'].tolist())), axis=1)
  sts_encode2 = tf.nn.l2_normalize(embed(tf.constant(batch['description_y'].tolist())), axis=1)
  cosine_similarities = tf.reduce_sum(tf.multiply(sts_encode1, sts_encode2), axis=1)
  clip_cosine_similarities = tf.clip_by_value(cosine_similarities, -1.0, 1.0)
  scores = 1.0 - tf.acos(clip_cosine_similarities) / math.pi
  """Returns the similarity scores"""
  return scores

scores = []
for batch in np.array_split(data, 10):
  scores.extend(run_sts_benchmark(batch))

In [21]:
scores = np.array(scores)
print(data.shape)

(489, 3)

In [22]:
data["new_score"] = scores.reshape(489,-1)
data.head()

                        description_x  ... new_score
0                        semtech corp  ...  0.730652
1              vanguard mid cap index  ...  0.822766
2         spdr gold trust gold shares  ...  0.936895
3       vanguard total bond index adm  ...  0.852159
4  oakmark international fund class i  ...  0.719112

[5 rows x 4 columns]